[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.0.x.cfg

package-name = experimental.catalogqueryplan

parts += cython

[cython]
recipe = zc.recipe.egg
eggs = Cython

[versions]
Cython = 0.14.1
